@import 'tailwindcss';
:root{
    --lm_color: #173b29;
    --lm_background: #f4faf7;
    --lm_primary: #5dbb97;
    --lm_secondary: #ab9fd6;
    --lm_accent: #db766f;

    --lm_secondary_opacity:rgba(171, 159, 214, 0.5);
    --lm_primary_opacity:rgba(93, 187, 151, 0.5);
    
    --dm_color: #def7ea;
    --dm_background: #050a08;
    --dm_primary: #44a27e;
    --dm_secondary: #352960;
    --dm_accent: #8f2b24;

    --grey: #5a5a5a;
}
body{
    background-color: #FAFAFA;
    color: var(--lm_color);
    transition: background-color 0.3s;
    font-family: "Alegreya-Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body.dark-mode{
    background-color: var(--dm_background);
    color: var(--dm_color);
}
h1{
    font-family: 'Bungee Shade', serif;
    background: -webkit-linear-gradient(var(--lm_secondary), var(--lm_accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 6vw;
    color: var(--lm_primary);
}
h1.dark-mode{
    color: var(--dm_color);
}
h2{
    font-family: "Alegreya", serif;
    background-clip: text;
    font-weight: 900;
    font-style: black;
    font-size: 4vw;
    color: var(--lm_color);
}
h2.dark-mode{
    color: var(--dm_color);
    
}
h3{
    font-family: 'Alegreya-Sans', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 1.5vw;
    color: var(--lm_color);
}
button {
    background-color: var(--lm_primary);
    color: var(--lm_background);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    text-transform: uppercase;
    }
body.dark-mode button { 
    background-color: var(--dm_primary);
    color: var(--dm_background);
    }
ul#menu li {
    display:inline;
}
a {
    color: var(--lm_accent);
    padding: 0.5rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;

}
a:hover{
    top: -5px;
}
a.dark-mode{
    color: var (--dm_color);
}
p {
    color: var(--lm_color);
}
p.dark-mode{
    color: var(--dm_color);
}
strong {
    color: var(--lm_secondary);
}
strong.dark-mode{
    color: var(--dm_secondary);
}
highlight {
    background: linear-gradient(120deg, #e4a0a1 0%, #e4a0a1 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
}
div.card{
    background-color: #fdfdfd;
    border-radius: 4px;
    padding: 1rem;
    border-width: 0.1rem;
    border-color: #0820133d;
    box-shadow: 0 0 5px #0820133d;

    margin: 1rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;

}
.card:hover{
    box-shadow: 0 0 10px var(--lm_secondary);
    border-color: var(--lm_secondary);
    top: -10px;
}