@import 'tailwindcss';
:root{
    --lm_color: #173b29;
    --lm_background: #f4faf7;
    --lm_primary: #5dbb97;
    --lm_secondary: #ab9fd6;
    --lm_link: #7d6eb6;
    --lm_bg: #ddd6f1;
    --lm_accent: #db766f;

    --lm_secondary_opacity:rgba(171, 159, 214, 0.5);
    --lm_primary_opacity:rgba(93, 187, 151, 0.5);

    --white: #ffffff;

    --grey: #5a5a5a;
}
body{
    background-color: #FAFAFA;
    color: var(--lm_color);
    transition: background-color 0.3s;
    font-family: "Alegreya-Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    font-family: 'Alegreya', serif;
    
    font-style: black;
    font-weight: 900;
    font-size: 4em;
    color: var(--lm_color);
}
h1.xl{
    font-size: 5em;
}
h2{
    font-family: "Alegreya", serif;
    background-clip: text;
    font-weight: 900;
    font-style: black;
    font-size: 4em;
    color: var(--lm_color);
}
h2.xl{
    font-size: 4em;
}
h3{
    font-family: 'Alegreya-Sans', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 1.5em;
    color: var(--lm_color);
}
button {
    background-color: var(--lm_primary);
    color: var(--lm_background);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    text-transform: uppercase;
    }
ul#menu li {
    display:inline;
}
a {
    padding: 0.5rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;

}
a.link{
    color: var(--lm_link)
}
a:hover{
    top: -5px;
}
p {
    color: var(--lm_color);
}
strong {
    color: var(--lm_secondary);
}
highlight {
    background: linear-gradient(120deg, #e4a0a1 0%, #e4a0a1 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
}
div.card{
    background-color: #fdfdfd;
    border-radius: 4px;
    padding: 1rem;
    border-width: 0.1rem;
    border-color: #0820133d;
    box-shadow: 0 0 5px #0820133d;

    margin: 1rem;
    top: 0;
    transition: top ease 0.5s;

}
.card:hover{
    box-shadow: 0 0 10px var(--lm_secondary);
    border-color: var(--lm_secondary);
    
    transform: scale(1.05);
    transition: transform 0.3s;
    
}
.tag {
    background-color: var(--lm_primary); /* Use the defined variable */
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
  }
.tag.secondary{
    background-color: #ddd6f1; /* Use the defined variable */
    color: #6b59a7;
}
.tag.bigger{
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.tag.bigger2{
    background-color: var(--lm_secondary); /* Use the defined variable */
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.secondary{
    color: var(--lm_link)
}
.primary{
    color: var(--lm_primary)
}
